.welcome{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.welcome h1{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
}

.welcome h2{
    margin: 0;
    font-weight: 500;
    font-size: 2.5rem;
}